* {
    margin: 0;
}

#container-grid {
    background-color: black;
    display: grid;
    width: 100vw;
    max-width: 100vh;
    height: 100vh;
    max-height: 100vw;
}

.item {
    background-color: white;
}
